<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>小木马</string>
		<key>time</key>
		<string>10:02</string>
		<key>icon</key>
		<string>0</string>
		<key>msg</key>
		<string>[语音]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>订阅号消息</string>
		<key>time</key>
		<string>09:25</string>
		<key>icon</key>
		<string>dyh</string>
		<key>msg</key>
		<string>成都高新：成都未来新地表！天府新区将迎来大型免税综合体。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>工作群</string>
		<key>time</key>
		<string>08:12</string>
		<key>icon</key>
		<string>gzq</string>
		<key>msg</key>
		<string>李凯: 可以买到</string>
	</dict>
	<dict>
		<key>name</key>
		<string>旋风小子</string>
		<key>time</key>
		<string>08:09</string>
		<key>icon</key>
		<string>1</string>
		<key>msg</key>
		<string>起床没？</string>
	</dict>
	<dict>
		<key>name</key>
		<string>急速租房</string>
		<key>time</key>
		<string>08:08</string>
		<key>icon</key>
		<string>2</string>
		<key>msg</key>
		<string>[语音]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>牧师幻皇</string>
		<key>time</key>
		<string>07:31</string>
		<key>icon</key>
		<string>3</string>
		<key>msg</key>
		<string>你明天过来</string>
	</dict>
	<dict>
		<key>name</key>
		<string>腾讯新闻</string>
		<key>time</key>
		<string>06:13</string>
		<key>icon</key>
		<string>qqtxxw.jpg</string>
		<key>msg</key>
		<string>微视频：我是中国人</string>
	</dict>
	<dict>
		<key>name</key>
		<string>高于</string>
		<key>time</key>
		<string>01:12</string>
		<key>icon</key>
		<string>4</string>
		<key>msg</key>
		<string>[语音]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李小康</string>
		<key>time</key>
		<string>01:44</string>
		<key>icon</key>
		<string>5</string>
		<key>msg</key>
		<string>你早点睡</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宏老板</string>
		<key>time</key>
		<string>00:22</string>
		<key>icon</key>
		<string>6</string>
		<key>msg</key>
		<string>明天再说哈，早点休息</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我是一个冰</string>
		<key>time</key>
		<string>00:20</string>
		<key>icon</key>
		<string>7</string>
		<key>msg</key>
		<string>[语音]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>基督教的小星星</string>
		<key>time</key>
		<string>00:12</string>
		<key>icon</key>
		<string>8</string>
		<key>msg</key>
		<string>是不是哦，有点懵</string>
	</dict>
</array>
</plist>
